mat-card-title{
    text-align: center;
}
mat-card.category-card {
    cursor: pointer;
}
img{
    height: 450px;
    background: black;
    opacity: .8;
}

h1.m-5 {
    text-align: center;
    font-weight: 500;
}
.btn-icon{
    background-color: #ffffff;
    /* float: right; */
}
.pagination {
    margin-left: 402px;
    padding-bottom: 40px;
}