<div class="conatiner">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <h3> <b>Name </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{products.product.productname}}</h3>
            <h3><b>Category</b>&nbsp;&nbsp;&nbsp;&nbsp;{{products.product.productcategory}}</h3>
            <h3> <b>Size</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{products.product.productsize}}</h3>
            <h3><b>Color</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{products.product.productcolor}}</h3>
            <h3><b>Price</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{products.product.productprice}}</h3>
            <h3><b>Available</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{products.product.productquantity}}</h3>
            <h3><b>Brand </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{products.product.productbrandname}}</h3>
            <h3><b>Collection </b>&nbsp;&nbsp; {{products.product.productcollectionname}}</h3>
            <h3><b>Material</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{products.product.productmaterial}}</h3>
        </div>
        <div class="col-sm-6 mt-5">
            
            <img src="{{products.product.productimageurl}}" id="changeimage1" style="margin-left: 2rem;max-height: 500px;max-width: 500px;">
        </div>
    </div>
</div>
     